<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="calaisSoapSoapBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" sendTimeout="00:20:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.opencalais.com/enlighten/" binding="basicHttpBinding"
                bindingConfiguration="calaisSoapSoapBinding" contract="CalaisService.calaisSoap"
                name="calaisSoap" />
        </client>
    </system.serviceModel>
</configuration>